@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face {
  font-family: Montserrat Subrayada;
  src: url(./fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
}
@font-face {
  font-family: Roboto Bold;
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

.nav-bg{
  background-color: FAFAFA;
}
.navpad{
  padding-top: 0%;
  padding-bottom: 0%;
}
.navtext{
  font-family: Montserrat Subrayada;
  font-size: 16px;
  color: #1E1E1E; 
}
.text{
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg {
  background-image: url(./assets/Background_1.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slidebg{
  background-image: url(./assets/Slide-bg.png);
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homebg{
  background-image: url(./assets/slide_show/Photo_6.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block{
  padding-left: 5%;
}

.box{
  height: 70%;
  width: 100%;
  background-color: #37474F;
  translate: 20%;
  margin-top: 25%;
  box-shadow: -7px 7px 5px;
}

.text1{
  font-family: 'Anonymous Pro', monospace;  
  font-size: 80px;
  color: #DEE4E7;
  padding-top: 7%;
  margin-bottom: 0;
}
.text4{
  font-family: 'Anonymous Pro', monospace;  
  font-size: 80px;
  color: #DEE4E7;
  padding-top: 0%;
  margin-bottom: 0;
}
.text2{
  font-family: 'Anonymous Pro', monospace;    
  font-size: 30px;
  color: #DEE4E7;
  /* padding-top: 3%; */
}
.text3{
  font-family: Roboto;
  color: #DEE4E7;
  text-shadow: 2px 2px 4px #1E1E1E;
}

.icon{
  padding-right:6px;
  height: 20px;
}
.slideshow{
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: auto;
  box-shadow: 0px 7px 10px;
}
.slideimg{
  box-shadow: -7px 7px 5px;
}




.css-typing p {
  border-right: .15em solid orange;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 2em;
  -webkit-animation: type .5s steps(40, end);
  animation: type .5s steps(40, end), blink .5s step-end infinite alternate;;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 7em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end),blink .5s step-end infinite alternate;;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}